<%= render "error_messages", target: text_style %>

<%= form_for [survey, text_style] do |form| %>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
