<div class="title">
  <%= @survey.name %>
</div>

<% if current_user == @survey.user %>
  <%= link_to "Add a text question", new_survey_text_style_path(@survey) %>
  <br />
  <%= link_to "Edit survey", edit_survey_path(@survey) %>
  <br />
  <%= button_to "Delete survey", survey_path(@survey), method: :delete %>
  <br />
  <%= link_to "Survey responses", survey_responses_path(@survey) %>
  <br />
<% end %>
<div class="survey_links">
  <%= link_to "Add a text question", new_survey_text_style_path(@survey) %>
  <br />
  <%= link_to "Add a multiple choice question", new_survey_multi_choice_style_path(@survey) %>
</div>

<ul>
  <%= form_for @survey do |form| %>
    <%= form.fields_for :questions do |question_fields| %>
      <%= question_fields.fields_for :style do |style_fields| %>
        <%= render style_fields.object, form: style_fields %>
      <% end %>
    <% end %>
    <%= form.submit "Answer all questions" %>
  <% end %>
</ul>
