<!DOCTYPE html>
<html>
<head>
  <title>SurveyFalcon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to "Survey Falcon", root_path %></h1>

  <div>
    <% if signed_in? %>
      <p>Signed in as <%= current_user.email %></p>
      <%= button_to "Sign out", session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_session_path %>
      <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
